<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
   window.images = {
     newestPoemImage: "<%= image_path("nature.jpg") %>",
     randomPoemImageOne: "<%= image_path("nature2.jpg") %>",
     randomPoemImageTwo: "<%= image_path("nature3.jpg") %>"
   }
</script>

<div id="root">enjambment</div>
