body{

}

.app-page {
  flex: 1 0 auto;

}

.header {

}

.main {
  /* padding-bottom: 82px; */
}

.footer {
  /* flex-shrink: 0; */
}

.background {
  background-color: #f7f7f7;
}

::selection {
  background: #9dc89b;
}

::-moz-selection {
  background: #9dc89b;
}
