body {
   height:100%;
}

.app-page {
  min-height: 100%;
  position: relative;
  min-height: 100%
}

.main {
  padding-bottom: 82px;
}

.background {
  background-color: #f7f7f7;
}

::selection {
  background: #9dc89b;
}

::-moz-selection {
  background: #9dc89b;
}
