.author-show-text-area {
  padding-left: 75px;
  width: 500px;
}

.author-show-title {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.author-text {
  white-space: pre-wrap;
  font-family: 'futura', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}
