.front-page-pictures-area {
  display: flex;
  justify-content: space-between;
  padding: 25px 75px 0 75px;
  height: 450px;
}

.front-page-large-picture {
  overflow: hidden;
  width: 675px;
  height: 400px;
  position: relative;
}

.newest-poem-title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.newest-poem-author {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.newest-poem-image {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.front-page-small-pictures {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.random-poem-1 {
  width: 375px;
  height: 190px;
}

.random-poem-1-image {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.random-poem-2 {
  width: 375px;
  height: 190px;
}

.random-poem-2-image {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.front-page-container {
  padding-left: 75px;
  padding-right: 75px;
}

.front-page-container h2 {
  text-transform: uppercase;
  font-size: 12px;
}

.line5 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: #d70062;
  background-color: #d70062;
}

.front-page-list-container li {
  /* margin-top: 15px;
  padding-bottom: 15px; */
  /* border-bottom: solid 1px #d70062; */
}

.front-page-list-container li:first-child {
  margin-top: 10;
}

.front-page-list-outer-item {

}

.front-page-list-line {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: #d70062;
  background-color: #d70062;
}

.front-page-list-inner-item {
  margin-top: 15px;
  margin-bottom: 15px;
}

.front-page-list-inner-item:hover {
  background-color: rgba(215, 0, 98, 0.5);
}

.front-page-poem-title {
  font-size: 22px;
}

.front-page-author {
  font-size: 16px;
}

.front-page-list-item-button {
  display: flex;
  width: 100%;
  padding-left: 20px;
  padding-top: 1px;
  padding-bottom: 3px;
}

.front-page-list-item-index {
  align-self: center;
  font-size: 24px;
  padding-right: 30px;
}
