h2 {
  text-transform: uppercase;
  font-size: 12px;
}

.front-page-pictures-area {
  display: flex;
  justify-content: space-between;
  padding: 0 75px 0 75px;
  height: 450px;
}

.front-page-pictures-area span {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.front-page-large-picture {
  overflow: hidden;
  /* width: 675px; */
  min-width: 500px;
  height: 400px;
  margin-right: 20px;
  position: relative;
}

.newest-poem-area:hover {
  background-color: rgba(215, 0, 98, 0.3);
}

.newest-poem-text {
  text-align: center;
  min-width: 500px;
  max-width: 625px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.newest-poem-title {
  font-size: 48px;
}

.newest-poem-author {
  font-size: 28px;
}

.newest-poem-image {
  width: 100%;
  height: auto;
  min-width: 675px;
  min-height: 400px;
  opacity: 0.5;
}

.front-page-small-pictures {
  max-width: 375px;
  min-width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.random-poem-area {
  font-size: 22px;
  height: 190px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.random-poem-area:last-child {
  margin-bottom: 0;
}

.random-poem-area:hover {
  background-color: rgba(215, 0, 98, 0.3);
}

.random-poem-text {
  text-align: center;
  width: 275px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.random-titles {
  font-size: 24px;
}

.random-authors {
  font-size: 16px;
}

.random-poem-1-image {
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.random-poem-2-image {
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.front-page-container {
  padding-left: 75px;
  padding-right: 75px;
}

.line5 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: #d70062;
  background-color: #d70062;
}

.front-page-list-container li {
  /* margin-top: 15px;
  padding-bottom: 15px; */
  /* border-bottom: solid 1px #d70062; */
}

.front-page-list-container li:first-child {
  margin-top: 10;
}

.front-page-list-outer-item {

}

.front-page-list-line {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: #d70062;
  background-color: #d70062;
}

.front-page-list-inner-item {
  margin-top: 15px;
  margin-bottom: 15px;
}

.front-page-list-inner-item:hover {
  background-color: rgba(215, 0, 98, 0.5);
}

.front-page-poem-title {
  font-size: 22px;
}

.front-page-author {
  font-size: 16px;
}

.front-page-list-item-button {
  display: flex;
  width: 100%;
  padding-left: 20px;
  padding-top: 1px;
  padding-bottom: 3px;
}

.front-page-list-item-index {
  align-self: center;
  font-size: 24px;
  padding-right: 30px;
}
