.navbar {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #9dc89b;
  height: 41px;
  overflow: hidden;
  border-bottom: 7px solid #5c965d;
}

.login-signup {
  display: flex;
  width: auto;
  margin-left: auto;
  margin-right: 20px;
}

.login-signup button {
  font-family: 'Open Sans', sans-serif;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 600;
  height: 30px;
}

.login-signup button:last-child {
  margin-left: 10px;
}

.login-signup button:hover {
  border-bottom: 30px solid #d70062;
  margin-bottom: -30px;
}

.user-greeting {
  display: flex;
  width: 100px;
  margin-left: auto;
  margin-right: 40px;
  /* background-color: red; */
}

.user-greeting h2 {
  display: block;
  font-size: 12px;
  font-weight: 600;
  vertical-align: middle;
  line-height: 30px;
  direction: rtl;
  /* margin-bottom: 1px; */
}

.user-greeting button {
  font-family: 'Open Sans', sans-serif;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 600;
  /* background-color: blue; */
  height: 30px;
}

.user-greeting button:last-child {
  margin-left: 20px;
}

.user-greeting button:hover {
  border-bottom: 30px solid #d70062;
  margin-bottom: -30px;
}

.logo {
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translate(-50%,0);
  display: block;
  width: auto;
  height: auto;
  /* background-color: green; */
}

.logo h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: #9dc89b;
  text-transform: uppercase;
  text-shadow: -2px 2px 0 #d70062;
  letter-spacing: 4px;
}
