.poem-form-container {
  padding-left: 75px;
  padding-right: 75px;
}

.poem-form-container h2 {
  text-transform: uppercase;
}

.line2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: #d70062;
  background-color: #d70062;
  margin-bottom: 26px;
}

/* .poem-form-box label {
  display: block;
  padding-bottom: 2px;
  background-color: red;
} */

.poem-form-container input {
  margin-top: 2px;
  padding-left: 6px;
  background-color: white;
  height: 32px;
  width: 570px;
  border: inset 1px gray;
  font-size: 12px;
  margin-bottom: 12px;
}

.poem-input-error {
  padding-left: 20px;
  color: red;
}

.poem-body-area {
  display: flex;
}

.poem-form-container textarea {
  margin-top: 2px;
  padding-top: 6px;
  padding-left: 6px;
  background-color: white;
  height: 32px;
  width: 570px;
  height: 500px;
  border: inset 1px gray;
  font-size: 12px;
  margin-bottom: 12px;
}

.poem-body-error {
  padding-left: 20px;
  color: red;
}

.poem-form-image-input {
  height: 100px;
}

.poem-form-image {
  max-width: 580px;
  height: 100%;
}

.hidden {
  display: none;
}

.poem-submit-button-area {
  display: flex;
  align-items: center;
}

.poem-submit {
  font-size: 14px;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  width: auto;
  border: solid 2px black;
}

.poem-submit:hover {
  background-color: #dcdcdc;
  text-decoration: underline #d70062;
}

.poem-session-error {
  padding-left: 20px;
  color: red;
}
