.poem-index-container {
  padding-left: 75px;
  padding-right: 75px;
}

.poem-index-foreground h2 {
  text-transform: uppercase;
}

.line3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: #d70062;
  background-color: #d70062;
  margin-bottom: 26px;
}


.poem-index-list-item {
  margin-top: 10px
}

.poem-index-list-item:first-child {
  margin-top: 0;
}

.poem-index-list-item {

}

.poem-index-list-item:hover {
  text-decoration: underline #d70062;
}
